<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>

	<dataConfiguration defaultDatabase="firmaEnvioSri.firma.Envio.SRI"/>

	<connectionStrings>
		<add name="firmaEnvioSri.firma.Envio.SRI" connectionString="Data Source=acklins.database.windows.net;Initial Catalog=RepositorioFacturasAck;User ID=adminAcklins;Password=Ack824562019" providerName="System.Data.SqlClient"/>
		<!-- Configuración alternativa comentada -->
		<!--
    <add name="firmaEnvioSri.firma.Envio.SRI"
         connectionString="Data Source=192.168.1.5\MSSQLSERVER7;Initial Catalog=DescargaFacturasV2;User ID=sa;Password=Spyderman1+"
         providerName="System.Data.SqlClient" />
    -->
	</connectionStrings>
	<appSettings>
		<add key="EmailAcklins" value="edy.moina@acklins.net;edy.moina@acklins.net"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
